<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="com.icecrm_automation.utility.TestListners"/>
	</listeners>
  <test name="Regression">
    <classes> 
      <class name="com.icecrm_automation.LoginTest"/>
      <class name="com.orangehrm_automation.FileUploadTest"></class>
      <class name="com.icecrm_automation.LoginTestIceHrm"></class>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
